<style>

.listpage
{
display:none;
}
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}
</style>
<br/><br/><br/>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="color: white;padding-top: 16px;font-size: 25px;">SJB INSTITUTE OF TECHNOLOGY</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="reports"><span class="glyphicon glyphicon-briefcase"></span> Report</a></li>
            <li><a ui-sref="webcam"><span class="glyphicon glyphicon-camera"></span> CaptureImage</a></li>
            <li><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a ui-sref="livevideo"><span class="glyphicon glyphicon-camera"></span> live video</a></li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        </ul>
    </div>
</nav>

<div class="navbar-nav navbar-inverse navbar-fixed-top topnav " style="margin-top:80px; background-color:white;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="margin-right:100px;">
            <ul class="nav navbar-nav">
                <li ><a ui-sref="systemsettings" style="margin-left:-640px;"><i class="icon-lock icon-white" style="margin-left:500px;"></i>System settings</a></li>
                <li class="active"><a ui-sref="adminsettings" ><i class="icon-user icon-white"></i>Admin settings</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<br/><br/><br/>




<button type="button" class="btn btn-primary" ui-sref="webcam">ADD NEW USER</button>
<!--data-toggle="modal" data-target="#exampleModal"-->
<br/><br/>
<div class="col-md-3 col-sm-3 col-xs-8 form-group pull-right top_search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
        <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
    </div>
</div>

<table id="customers">
    <tr>
        <th>NAME</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>ADDRESS</th>
        <th>ACTION</th>
    </tr>
    <tr dir-paginate="admin in adminList|filter:searchtext|itemsPerPage:3">
        <td>{{admin.name}}</td>
        <td>{{admin.phone}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.password}}</td>
        <td>{{admin.address}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" ng-click="getSingleAdmin(admin._id)" data-target="#Modal"> EDIT </button>
            <button class="btn btn-danger" ng-click="deleteAdmin(admin._id)"> DELETE</button>
        </td>
    </tr>
</table>
<dir-pagination-controls class="paging" style="margin-left:450px;"
                         max-size="3"
                         direction-links="true"
                         boundary-links="true" >
</dir-pagination-controls>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD SETTINGS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">NAME:</label>
                        <input type="text" class="form-control" id="recipient-name" ng-model="adminSettings.name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-phone" class="col-form-label">PHONE:</label>
                        <input type="text" class="form-control" id="recipient-phone" ng-model="adminSettings.phone">
                    </div>
                    <div class="form-group">
                        <label for="recipient-email" class="col-form-label">EMAIL:</label>
                        <input type="email" class="form-control" id="recipient-email" ng-model="adminSettings.email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-password" class="col-form-label">PASSWORD:</label>
                        <input type="password" class="form-control" id="recipient-password" ng-model="adminSettings.password">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">ADDRESS:</label>
                        <textarea class="form-control" id="message-text" ng-model="adminSettings.address"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" ng-click="saveAdminSettings()" class="btn btn-primary">save details</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="message">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">NAME:</label>
                        <input type="text" class="form-control" id="recipient-Admin" ng-model="admin.name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-phone" class="col-form-label">PHONE:</label>
                        <input type="text" class="form-control" id="recipient-give" ng-model="admin.phone">
                    </div>
                    <div class="form-group">
                        <label for="recipient-email" class="col-form-label">EMAIL:</label>
                        <input type="email" class="form-control" id="recipient-fooo" ng-model="admin.email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-password" class="col-form-label">PASSWORD:</label>
                        <input type="password" class="form-control" id="recipient-pppp" ng-model="admin.password">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">ADDRESS:</label>
                        <textarea class="form-control" id="message-ooo" ng-model="admin.address"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" ng-click="updateAdmin()" class="btn btn-primary">update details</button>
            </div>
        </div>
    </div>
</div>
