<!--<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
</style>-->


<br/><br/>
<div ng-include="'../templates/navBarHeader.html'"></div>




<div class="row">
     <div class=" col-sm-6">
         <canvas id="canvas-video" width="1200" height="900"></canvas>
     </div>
        <br/><br/>
    </div>
</div>
<div>{{report.details.date| date }}</div>-->


<div class=" col-sm-6">
    <h2>
        Last Analysied Image
    </h2>
    <div class="row">
        <div class=" col-sm-6">
            <img src="{{latestImage}}" width="220" height="190">
        </div>
        <!--{{analysiedImage}}-->
        <div class=" col-sm-6">
            <div>

            <span style="color:blue "><b>MINIMUM AGE:</b></span>
            <span> {{analysiedImage.data.FaceRecords[0].FaceDetail.AgeRange.Low}}</span>
            <span style="color:blue "><b>MAXIMUM AGE:</b></span>
            <span> {{analysiedImage.data.FaceRecords[0].FaceDetail.AgeRange.Low}}</span>
        </div>
            <br>
            <br>

            <div>

                <span style="color:blue "><b>GENDER:</b></span>
                <span> {{analysiedImage.data.FaceRecords[0].FaceDetail.Gender.Value}}</span>

            </div>
            <div>
                <span style="color:blue"><b>NUMBER OF FACES:</b></span>
                <span> {{analysiedImage.noOfFaces}}</span>
            </div>
            <br>
            <br>
            <div>
                <div ng-repeat="x in analysiedImage.data.FaceRecords[0].FaceDetail.Emotions">
                    <span style="color:blue "><b>{{x.Type}}:</b></span>
                    <span>{{x.Confidence| number: 5}}%</span>
                </div>

            </div>




            <br>
            <br>
        </div>
</div>

</div>


