    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h2>LOGIN AS ADMIN</h2>
                <div class="row">
                    <div class="col-md-10">
                        <form name="loginForm" action="/action_page.php" novalidate>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="login.email" required="">
                                <span style="color:red" ng-show="loginForm.email.$invalid">
                                    <span ng-show="loginForm.email.$error.required">email address is required.</span>
                                    <span ng-show="loginForm.email.$error.email">Invalid email Id.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="login.password" required>
                                <span style="color:red" ng-show="loginForm.password.$invalid">
                                    <span ng-show="loginForm.password.$error.required">Password is required.</span>
                                </span>
                            </div>
                         </form>
                        <br>
                    <button type="button"class="btn btn-info" ng-click="LoginDetails()">login</button>
                    </div>
                </div>
         </div>
         <div class="col-md-4">
         </div>
    </div>
