<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black">
    <div class="container-fluid">
        <div class="navbar-header">

            <div style="color: white;padding-top: 16px;font-size: 25px;">PEOPLE MONITORING SYSTEM</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a ui-sref="tableView"><span class="glyphicon glyphicon-camera"></span> Register Members</a></li>-->
            <li><a ui-sref="livevideo"><span class="glyphicon glyphicon-camera" style="color: white;"></span> Live Video</a></li>
            <li><a ui-sref="reports"><span class="glyphicon glyphicon-briefcase"></span> Report</a></li>
            <li><a ui-sref="settings"><span class="glyphicon glyphicon-cog" style="color: white;"></span> Settings</a></li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-user" style="color: white;"></span> logout</a></li>
        </ul>
    </div>
</nav>