<br/><br/>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <h2 style="color:orangered;">ADMIN REGISTRATION</h2>
                <form name="registerform" action="/action_page.php" nonvalidate>
                    <div class="form-group">
                        <label for="username">username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="user.userName" required="">
                        <span style="color:red" ng-show="registerform.username.$invalid">
                            <span ng-show="registerform.username.$error.required"> username is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="firstname">firstname:</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" ng-model="user.firstName" required="">
                        <span style="color:red" ng-show="registerform.firstname.$invalid">
                            <span ng-show="registerform.firstname.$error.required"> firstname is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lastname">lastname:</label>
                        <input type="lastname" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" ng-model="user.lastName" required="">
                        <span style="color:red" ng-show="registerform.lastname.$invalid">
                            <span ng-show="registerform.lastname.$error.required"> lastname is required.</span>
                        </span>
                    </div>
              <!--      <div class="form-group">
                        <label for="lastname">role:</label>
                        <select ng-model="user.role" class="form-control" ng-options="x for x in names"></select>
                        <span style="color:red" ng-show="registerform.role.$invalid">
                            <span ng-show="registerform.role.$error.required"> firstname is required.</span>
                        </span>
                    </div>-->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="user.email" required="">
                        <span style="color:red" ng-show="registerform.email.$invalid">
                                    <span ng-show="registerform.email.$error.required">email address is required.</span>
                                    <span ng-show="registerform.email.$error.email">Invalid email Id.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="user.password" required>
                        <span style="color:red" ng-show="registerform.password.$invalid">
                            <span ng-show="registerform.password.$error.required">Password is required.</span>
                        </span>
                    </div>
                </form>
                <br>
                <button type="button" class="btn btn-info" ng-click="saveUserDetails()">register</button>
            </div>
        </div>
    </div>
</div>


