<style>
    img {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        width: 150px;
    }

    .datepicker {
        position: relative;
        display: inline-block;
    }

    .datepicker .picker {
        box-sizing: border-box;
        position: absolute;
        z-index: 10000;
        min-width: 100%;
    }

    .datepicker .picker * {
        box-sizing: inherit;
    }

    .datepicker .picker .header {
        position: relative;
        text-align: center;
    }

    .datepicker .picker .header .month {
        cursor: pointer;
    }

    .datepicker .picker .header .prev,
    .datepicker .picker .header .next {
        position: absolute;
        cursor: pointer;
    }

    .datepicker .picker .header .prev {
        left: 0;
    }

    .datepicker .picker .header .next {
        right: 0;
    }

    .datepicker .picker table {
        width: 100%;
        border: none;
        background: none;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }

    .datepicker .picker table td,
    .datepicker .picker table th {
        text-align: center;
        padding: 0 3px;
    }

    .datepicker .picker table td.day {
        cursor: pointer;
    }

    .datepicker .picker table td.day.invalid {
        opacity: 0.5;
        cursor: default;
    }

    /* themes */
    .datepicker.basic .picker {
        padding: 15px;
        background: white;
        border: 1px solid #888;
        border-radius: 3px;
        box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.2);
        font-size: 90%;
    }

    .datepicker.basic .picker .header {
        padding: 0 0 8px 0;
    }

    .datepicker.basic .picker table td,
    .datepicker.basic .picker table th {
        padding: 2px 6px;
    }

    .datepicker.basic .picker table td.day:hover {
        background: #eee;
    }

    .datepicker.basic .picker table td.day.today {
        font-weight: bold;
    }

    .datepicker.basic .picker table td.day.current {
        background: #aaa;
    }

    .datepicker.flat .picker {
        max-width: 500px;
        padding: 0;
        background: #EBEEF0;
        color: #444;
        font: normal normal 14px/20px sans-serif;
    }

    .datepicker.flat .picker .header {
        background: #337E9D;
        color: #fafafa;
        font-size: 85%;
        line-height: 40px;
        text-transform: uppercase;
    }

    .datepicker.flat .picker .header .prev {
        padding: 0 10px;
        left: 20px;
        font-size: 80%;
    }

    .datepicker.flat .picker .header .next {
        padding: 0 10px;
        right: 20px;
        font-size: 80%;
    }

    .datepicker.flat .picker .calendar {
        margin: 10px 20px;
    }

    .datepicker.flat .picker table th {
        opacity: 0.5;
        font-weight: normal;
        font-size: 80%;
    }

    .datepicker.flat .picker table td,
    .datepicker.flat .picker table th {
        padding: 3px 8px;
    }

    .datepicker.flat .picker table td.day:hover {
        background: #D2D8ED;
    }

    .datepicker.flat .picker table td.day.today {
        font-weight: bold;
    }

    .datepicker.flat .picker table td.day.current {
        background: #989AA2;
        color: #f0f0f0;
    }

    .listpage {
        display: none;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
    }
</style>

<div ng-include="'../templates/navBarHeader.html'"></div>

<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">GENDER:</label>
                <select type="text" class="form-control" ng-model="reportSettings.gender"
                        ng-options="x for x in names"
                        placeholder="gender"
                        required="required"/>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-phone" class="col-form-label">FACIAL EXPRESSION:</label>
                <select type="text" class="form-control" ng-model="reportSettings.expressions"
                        ng-options="x for x in expressions"
                        placeholder="gender"
                        required="required"/>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">FROM DATE:
                </label>
                <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                    <input type="text" class="form-control" datetime-picker ng-model="reportSettings.fromDate"
                           is-open="ctrl.picker6.open"
                           ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)"
                           ng-init="ctrl.picker6.date"/>
                    <span class="input-group-btn">
									<button type="button" class="btn btn-default"
                                            ng-click="ctrl.openCalendar($event, 'picker6')"><span
                                            class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">TO DATE:
                </label>
                <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                    <input type="text" class="form-control" datetime-picker ng-model="reportSettings.toDate"
                           is-open="ctrl.picker6.open"
                           ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)"
                           ng-init="ctrl.picker6.date"/>
                    <span class="input-group-btn">
									<button type="button" class="btn btn-default"
                                            ng-click="ctrl.openCalendar($event, 'picker6')"><span
                                            class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                </div>
            </div>
        </div>


        <br/>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Age Start Range:</label>
                <input type="number" class="form-control" ng-model="reportSettings.startRange"/>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Age End Range:</label>
                <input type="text" class="form-control" ng-model="reportSettings.endRange"
                        />

            </div>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    ng-click="getAllDataBasedOnParameter(reportSettings)">Qurie know</button>
        </div>
    </div>


    <br>
    <div class="row">

        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
                <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
            </div>
        </div>


    </div>
</div>
<br><br>


<div class="mystyle">
    <button data-ng-click="exportAction('csv')"class="w3-button  w3-indigo">CSV</button>
    <button data-ng-click="exportAction('excel')"class="w3-button  w3-indigo">Excel</button>
    <button data-ng-click="exportAction('doc')"class="w3-button  w3-indigo"> Doc</button>
    <button data-ng-click="exportAction('pdf')"class="w3-button  w3-indigo">Pdf</button><br><br>
</div>


<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table" export-table>
                        <thead>
                        <tr>
                            <th>ANALYSIED IMAGE</th>
                            <th style="width: 310.979166px;">AGE RANGE</th>
                            <th style="width: 310.979166px;">GENDER</th>
                            <th style="width: 310.979166px;">FACIAL EXPRESSION</th>
                            <th style=" width: 310.979166px;">DATE</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr dir-paginate="report in qurieAnalysiedData|filter:searchtext|itemsPerPage:5" >

                            <td>
                                <img data-ng-src="data:image/png;base64,{{report.details.config.data.details}}" data-err-src="images/png/avatar.png"/>
                            </td>
                            <td>

                                <div>

                                    <span><b>Minimum Age:</b></span>
                                    <span> {{report.details.data.data.FaceRecords[0].FaceDetail.AgeRange.Low}}</span>
                                </div>
                                <div>
                                    <span><b>Maximum Age:</b></span>
                                    <span> {{report.details.data.data.FaceRecords[0].FaceDetail.AgeRange.High}}</span>
                                </div>

                            </td>
                            <td>
                                <span><b>Gender:</b></span>
                                <span> {{report.details.data.data.FaceRecords[0].FaceDetail.Gender.Value}}</span>
                                <br>

                                <span><b>Matching Percentage:</b></span>
                                <span> {{report.details.data.data.FaceRecords[0].FaceDetail.Gender.Confidence| number: 5}}%</span>
                            </td>
                            <td  >
                                <div ng-repeat="x in report.details.data.data.FaceRecords[0].FaceDetail.Emotions">
                                    <span><b>{{x.Type}}:</b></span>
                                    <span>{{x.Confidence| number: 5}}%</span>
                                </div>

                            </td>

                            <td>{{report.details.date| date }}</td>


                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <dir-pagination-controls class="paging"
                                 max-size="3"
                                 direction-links="true"
                                 boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>








