

<div ng-include="'../templates/navBarHeader.html'"></div>

<div class="navbar-nav navbar-inverse navbar-fixed-top " style="margin-top:80px; background-color:white;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="margin-right:100px;">
            <ul class="nav navbar-nav">
                <li><a ui-sref="systemsettings" style="margin-left:-640px;"><i class="icon-lock icon-white" style="margin-left:500px;"></i>System settings</a></li>
                <li><a ui-sref="adminsettings"><i class="icon-user icon-white"></i>Admin settings</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<br/><br/>
